:root {
  --color-primary: #19535F;
  --color-secondary: #8AF3FF;
  --color-background: #EDCBB1;
  --color-accent: #82972F;
  --color-text: #413A3B;
}

header {
  background-color: var(--color-primary);
  color: var(--color-accent);
  text-align: center;
}

.intro-card {
  background-color: !important;
  border-color: var(--color-secondary);
  color: var(--color-background);
  height: 130px !important;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: var(--color-accent) !important;
}

body {
  background-color: var(--color-background);
}

.project-card-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .project-card-row {
    justify-content: center;
  }
}

.card {
  background-color: var(--color-primary);
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 250px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  overflow-y: auto;
  flex-grow: 1;
}

.btn {
  background-color: var(--color-secondary) !important;
  color: var(--color-accent);
}

.contactform {
  width: 50%;
}

footer {
  background-color: #413A3B;
  color: var(--color-accent);
  text-align: center;
}